.p-code {
  font-family: var(--font-poppins), "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  //line-height: 1.0;
  background: black;
  padding-top: 0px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
}
.page-container {
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  max-height: 100%;
}
