.project-container {
  border: solid rgba(white, 0.2) 1px;
  //outline: solid 2px white;
  transition: height 1s ease, outline-offset 0.5s, outline-color 0.5s,
    box-shadow 0.5s;
  border-radius: 8px;

  box-shadow: 0px 0px 15px 0px rgba(white, 0.04),
    inset 0px 0px 300px 0px rgba(white, 0.07);
  overflow: hidden;
  .img-container {
    overflow: hidden;
    container-type: inline-size;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 365px;
    border-bottom: 1px solid rgba(white, 0.2);
    // enable container sizing
    // border-radius: 8px;

    img {
      box-sizing: border-box;
      //   border-radius: 8px;
      width: 100%;
      //   max-height: 365px;
      object-fit: contain;
    }
  }
  > .project-contents {
    padding: 30px;

    .project-title {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      text-align: left;
      font-weight: 500;
      line-height: normal;
      padding: 0px;
      margin: 0px;
      margin-bottom: 12px;
      > .links {
        display: flex;
        gap: 10px;
        > a {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 16px;
          line-height: normal;
          font-weight: 400;
          //   color: white;
          img {
            width: 20px;
            height: auto;
          }
        }
      }
    }
    > .project-tags {
      display: flex;
      flex-wrap: wrap;

      gap: 10px;
      font-family: "Open Sans";
      font-weight: 400;
      align-items: center;

      > .tag {
        display: flex;
        align-items: center;
        font-size: 14px;
        filter: saturate(60%);
        font-weight: 600;
        background: color-mix(in srgb, var(--tag-color) 30%, rgba(white, 0));
        color: color-mix(in srgb, var(--tag-color) 100%, rgba(white, 0));
        padding: 4px 8px;
        border-radius: 8px;
        img {
          height: 16px;
          margin-right: 5px;
        }
      }
    }

    > .project-summary {
      display: inline-block;
      font-family: "Open Sans";
      font-weight: 200;
      white-space: pre-wrap;
    }
  }
}
// .project-title-container {
//   //   border-bottom: 2px solid white;
//   //   border-radius: 4%;
//   //   box-shadow: 0px 10px 10px -10px rgba(white, 0.5),
//   //     inset 0px -10px 10px -10px rgba(white, 0.3);
//   //   display: flex;
//   //   justify-content: center;
//   //   alifgn-items: center;
//   //   padding: 5px 10px 5px 10px;

// }
