@font-face {
  font-family: "Astro Armada";
  src: url("../../public/_astroarmada.ttf");
}
.p-home {
  overflow: hidden;
  height: 100%;
  max-height: 100dvh;
  max-width: 100dvw;
  width: 200%;
  background: none;
}
.nav-grid {
  display: grid;
  grid-template-columns: repeat(2, 100dvw);
  height: 100%;
  transition: transform 0.5s ease;
  // transform: translateX(-100dvw);
}
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .page-contents {
    max-width: 756px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 32px;
    border-radius: 8px;
    // background-blur
    // backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.04),
      inset 0px 0px 300px 0px rgba(0, 0, 0, 0.1);
  }
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;

  > h1 {
    transition: all 0.2s ease-in;
    cursor: pointer;
    padding: unset;
    margin: unset;
    line-height: 11vw;
    background: rgba(255, 255, 255, 0.8);
    display: block;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Astro Armada";
    font-weight: 400;
    font-size: 13vw;
    filter: url(#filterNoGlitch)
      drop-shadow(rgba(255, 255, 255, 0.2) 0px 0px 20px);
    @supports (background: -webkit-named-image(i)) {
      filter: none; //disable the filter for safari
    }
    color: White;
    z-index: 1;
    text-align: center;
    // text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(
      blue 10%,
      white 50%,
      rgba(30, 0, 30, 1) 51%,
      magenta 70%,
      white 90%
    );
    background-clip: text;
    // text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    paint-order: stroke fill;
    &:hover {
      // background-image: none;
      // -webkit-text-fill-color: white;
      text-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    }
  }
  nav {
    all: unset;
    font-family: var(--font-poppins), system-ui, Avenir, Helvetica, Arial,
      sans-serif;
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    a {
      margin-top: 20px;
      padding-bottom: 40px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
      font-size: max(3vw, 24px);
      font-weight: 200;
      filter: url(#filterNoGlitch)
        drop-shadow(rgba(255, 255, 255, 0.2) 0px 0px 20px);
      @supports (background: -webkit-named-image(i)) {
        filter: none; //disable the filter for safari
      }
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.three-js-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  canvas {
    width: 100dvw;
    height: 100dvw;
    //set scaling to pixel
    image-rendering: pixelated;
  }
  z-index: -1;
  background: linear-gradient(90deg, rgb(61, 0, 61) 0%, rgb(0, 20, 48) 100%);
}

// Globals

:root {
  font-family: var(--font-poppins), system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 1);
}

html,
body {
  overflow: hidden; /* This prevents scrolling */
  z-index: -2;
}
